*{
   margin: 0;
   padding: 0;
}

html,
body {
  /* place-items: center; */
  background-color: black;
}


#slider {
   /* margin: 0 auto; */
   /* width: 800px; */
   /* max-width: 100%; */
   /* text-align: center; */
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
    /* padding: 10px; */
    /* border: 3px solid #ccc; */
    /* background: #fff; */
   position: relative;
   /* z-index: 1; */
   height: 80vh;
}
#overflow {
   /* width: 100%; */
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}

#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 300px;
}

#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80vh;
   
}
#slides .slide_1 {
   border: 20px black solid;
   border-radius: 45px;
    
   text-align: center;
   background: linear-gradient(45deg, #ee7752, #e73c7e, #1156eb, #23d5ab);
   background-size: 400% 400%;
   animation: gradient 15s ease infinite;
   height: 80vh;
}
/* if you wish to change the gradient for other slider
#slides .slide_2{

} */

#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}

/* #controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
} */

/* #controls label:hover {
   opacity: 1;
} */

/* ############################################## */
/* ################ BULLETS ##################### */
/* ############################################## */

#bullets {
   margin: 140px 0 20;
   text-align: center;
}

#bullets label {
   display: inline-block;
   width: 16px;
   height: 16px;
   border-radius:100%;
   background: yellow;
   margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: red;
   border-radius: 15px;
   width: 55px;
}

/* @media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100%);
      margin: 0 auto;
   }
} */


  
#age{
   /* color: black; */
   font-size: 9vh;
   font-family: Ubuntu;
   margin-top: 10%;
}
  
.header{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
  }
  
.timer{
   /* margin-top: 20px; */
   color: white;
   /* font-size: 8vw; */
   font-family: 'Orbitron', sans-serif;
   white-space: normal;
   line-height: 50pt;
}

@media screen and (min-width: 601px) {
   div.timer {
     font-size: 8vw;
   }
 }
 
 /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
 @media screen and (max-width: 600px) {
   div.timer {
     font-size: 14vw;
   }
 }
  
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
    }

/* ############################################## */
/* ################ SOCIAL MEDIA ################ */
/* ############################################## */

.wrapper {
   display: flex;
   justify-content: center;   
}
      
.wrapper .icon {
   position: relative;
   background-color: #ffffff;
   border-radius: 50%;
   padding: 5px;
   margin: 10px;
   width: 50px;
   height: 50px;
   font-size: 28px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   cursor: pointer;
   transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
      
.wrapper .tooltip {
   position: absolute;
   top: 0;
   font-size: 18px;
   background-color: #ffffff;
   color: #ffffff;
   padding: 5px 8px;
   border-radius: 5px;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
   opacity: 0;
   pointer-events: none;
   transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
      
.wrapper .tooltip::before {
   position: absolute;
   content: "";
   height: 8px;
   width: 8px;
   background-color: #ffffff;
   bottom: -3px;
   left: 50%;
   transform: translate(-50%) rotate(45deg);
   transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
      
.wrapper .icon:hover .tooltip {
   top: -45px;
   opacity: 1;
   visibility: visible;
   pointer-events: auto;
}
      
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
   text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
      
.wrapper .discord:hover,
.wrapper .discord:hover .tooltip,
.wrapper .discord:hover .tooltip::before {
   background-color: #06a2fd;
   color: #ffffff;
}
      
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
   background-color: #fc004c;
   color: #ffffff;
}
      
.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
   background-color: #015705;
   color: #ffffff;
}
      
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
   background-color: #333333;
   color: #ffffff;
}


/* ############################################## */
/* ################ CREDITS ##################### */
/* ############################################## */


/* Dropup Button */
/* .dropbtn {
   background-color: #ffffff;
   color: rgb(0, 0, 0);
   padding: 10px;
   font-size: 16px;
   font-family: Ubuntu;
   font-weight: 700;
   border-radius: 45px;
 } */
 
 /* The container <div> - needed to position the dropup content */
 /* .dropup {
   position: relative;
   display: inline-block;
   float: right;
   margin-right: 100px;
 } */
 
 /* Dropup content (Hidden by Default) */
 /* .dropup-content {
   display: none;
   position: absolute;
   bottom: 50px;
   background-color: #f1f1f1;
   min-width: 60px;
   
 } */
 
 /* Links inside the dropup */
 /* .dropup-content a {
   color: black;
   padding: 6px 6px;
   text-decoration: none;
   display: block;
 } */
 
 /* Change color of dropup links on hover */
 /* .dropup-content a:hover {background-color: #ddd} */
 
 /* Show the dropup menu on hover */
 /* .dropup:hover .dropup-content {
   display: block;
 } */
 
 /* Change the background color of the dropup button when the dropup content is shown */
 /* .dropup:hover .dropbtn {
   background-color: #2980B9;
 }
  */