body,
html {
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgb(0, 238, 255),
    rgb(218, 0, 218)
  );
}

.primal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.card-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 40rem;
  background-color: rgb(232, 250, 248);
  border-radius: 6px;
}

h2 {
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 30px;
  color: rgb(34, 31, 31);
}

.input-container {
  position: relative;
  margin-bottom: 25px;
}
.input-container input::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: rgb(121, 121, 121);
  padding: 10px;
}

.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(34, 31, 31);
  transition: all 0.5s ease-in-out;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 300px;
  padding: 8px 0 5px 0;
  margin-top: 20px;
  font-size: 16px;
  color: rgb(121, 121, 121);
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.btn {
  color: #fff;
  background-color: black;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form span {
  margin-top: -18px;
  font-size: 12px;
  color: rgb(34, 31, 31);
}
